[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
pandas = "*"
xlrd = "*"
pyqrcode = "*"
pypng = "*"

[requires]
python_version = "3.7"
